<mat-toolbar>
  <span>Editor</span>
  &ensp;
  <button mat-button [matMenuTriggerFor]="menuArchivo">Archivo</button>
  <mat-menu #menuArchivo="matMenu" yPosition="above">
    <button mat-menu-item (click)="cargarArchivo()">Cargar</button>
    <button mat-menu-item (click)="descargarArchivo()">Descargar</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="menuTab">Tab</button>
  <mat-menu #menuTab="matMenu" yPosition="above">
    <button mat-menu-item (click)="compilar()">Ejecutar Tab Actual</button>
  </mat-menu>
</mat-toolbar>

<div style="background-color:#303030; margin-left: 0%; margin-right: 0%;">
  <app-editor-tabs #editorTabs></app-editor-tabs>
</div>
<mat-divider></mat-divider>

<form class="console-form">
  <mat-form-field style="width: 100%; margin-top: 2%; background-color: #303030;" appearance="fill">
    <mat-label style="color: #c8c8c8;">Output Programa:</mat-label>
    <code>
      <textarea [formControl]="area_programa" id="code-area" rows="10" cols="130" matInput placeholder="" style="color: #fff;" readonly></textarea>
    </code>
  </mat-form-field>
</form>

<form class="console-form">
  <mat-form-field style="width: 100%; margin-top: 2%; background-color: #303030;" appearance="fill">
    <mat-label style="color: #c8c8c8;">Output Interprete:</mat-label>
    <code>
      <textarea [formControl]="area_interprete" id="code-area" rows="10" cols="130" matInput placeholder="" style="color: #fff;" readonly></textarea>
    </code>
  </mat-form-field>
</form>

<div >
<h3 style="color: #fff;">Funciones AST Dibujadas</h3>
<button mat-raised-button (click)="descargarAST()">Descargar</button>
<a #linkDescargaAST></a>
  <div #astCanvas style="margin-left: 10%; margin-right: 10%;background-color: #c8c8c8; border-radius: 5px;">
      <div *ngFor="let ast of listaASTFunciones;" style="padding-bottom: 20px;">
        <ngx-org-chart [nodes]="ast" direction="horizontal"></ngx-org-chart>
        <mat-divider [inset]="true" style="border-top-color:#303030; width: 100%;margin-left: 0%;"></mat-divider>
      </div>
  </div>
</div>

<div>
<h3 style="color: #fff;">Tablas de Simbolos Dibujadas</h3>
<button mat-raised-button (click)="descargarTablas()">Descargar</button>
<a #linkDescargaTablas></a>
  <div #tablasCanvas>
    <div *ngFor="let tabla of datosTablas;" style="margin-bottom:50px;">
    <table mat-table [dataSource]="tabla" class="mat-elevation-z8" style="width: 80%; margin-left: 10%;">
      <!-- Columna Item -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let tabla"> {{tabla[0]}} </td>
      </ng-container>

      <!-- Columna Contenido -->
      <ng-container matColumnDef="contenido">
        <th mat-header-cell *matHeaderCellDef> Contenido </th>
        <td mat-cell *matCellDef="let tabla"> {{tabla[1]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
    </table>
    </div>
  </div>
</div>

<div>
<h3 style="color: #fff;">Expresiones Dibujadas</h3>
<button mat-raised-button (click)="descargarExpresiones()">Descargar</button>
<a #linkDescargaExpresiones></a>
  <div #expresionesCanvas style="margin-left: 10%; margin-right: 10%;background-color: #c8c8c8; border-radius: 5px;">
    <div *ngFor="let dibujo of expresionesDibujo;" style="padding-bottom: 20px;">
      <ngx-org-chart [nodes]="dibujo" direction="vertical"></ngx-org-chart>
      <mat-divider [inset]="true" style="border-top-color:#303030; width: 100%;margin-left: 0%;"></mat-divider>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
