<mat-toolbar>
  <span>Editor</span>
  &ensp;
  <button mat-button [matMenuTriggerFor]="aboveMenu">Archivo</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Nuevo</button>
    <button mat-menu-item>Cargar</button>
    <button mat-menu-item>Descargar</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="aboveMenu">Tab</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Cerrar Tab</button>
    <button mat-menu-item>Ejecutar</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
